# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

bot/chrome_data/
bot/__pycache__/
bot/bot_data.db
bot/chrome_data_test
bot/testing
bot/comments.db

package-lock.json
package.json

.kilocodemodes
.bmad-core/
.claude/
.clinerules/
.crush/
.gemini/
.github/
.cursor/
.qwen/
.trae/
.vscode/
.windsurf/
web-bundles
AGENTS.md
.roomodes
bot_data.db
package-lock.json
package.json
facebook_bot.db
test_template.json
vite.config.ts

# Uploaded files
uploads/

node_modules
chrome_data
dist
dist-ssr
*.local

# Editor directories and files
.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
